.hero {
    padding-top: 130px;
    &__content {
        position: relative;
        padding-right: 50px;
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    &__layer {
        background-color: var(--main-color);
        max-width: 1070px;
        max-height: 1070px;
        position: absolute;
        border-radius: 3.6em;
        transform: rotate(-9deg);
        left: -256px;
        top: -300px;
        z-index: 0;
        .mini-layer{
            position: absolute;
            width: 370px;
            height: 670px;
            background-color: rgba(255, 255, 255, 0.1);
            left: -80px;
            top: 200px;
            transform: rotate(28deg);
            border-radius: 45px;
        }
    }
    
    &__descr {
        color: #E1DFDF;
        font-size: 1.1em;
        margin-top: 50px;
        margin-bottom: 60px;
    }
    &__illustration {
        position: relative;
        >div {
            max-height: 100%;
        }
        svg {
            position: absolute;
            max-width: 100%;
            height: 500px;
        }

    } 
    &__wrapper.services {
        .hero__illustration {
            height: 450px;
            svg {
                max-width: 120%;
                right: -10%;
            }
        }
    }

    &__wrapper.projects {
        .hero__illustration {
            height: 450px;
            svg {
                position: absolute;
                left: 60%;
                top: 50%;
                transform: translate(-50%, -50%);
                max-width: 120%;
            }
        }
    }
    &__wrapper.contacts {
        .hero__illustration {
            height: 500px;
            svg {
                top: -15%;
                right: -15%;
            }
        }
    }
    &__wrapper.blog {
        .hero__illustration {
            height: 500px;
            svg {
                position: absolute;
                right: -10%;
            }
        }
    }
    &__wrapper.index {
        .hero__layer {
            top: -130px;
        }
        
        .hero__illustration {
            height: 600px;
            svg {
                max-height: 650px;
                position: absolute;
                left: 0;
                top: 0;
                max-width: 120%;
            }
            &::before {
                content: '';
                width: 700px;
                height: 700px;
                background-color: rgba(118, 128, 163, .1);
                position: absolute;
                right: -80%;
                top: 0;
                border-radius: 100%;
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .hero {
        &__layer {
            width: 900px;
            height: 900px;
            left: -256px;
        }
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        &__layer {
            width: 900px;
            height: 900px;
        }
    }
}