@import './components/Button/_button.css';
@import './components/Header/_header.css';
@import './components/Hero/_hero.css';
@import './components/ProposalCard/_proposal_card.css';
@import './components/ProposalSection/_proposal_section.css';
@import './components/ReasonSection/_reason_section.css';
@import './components/Advantage/_advantage.css';
@import './components/IndexPricesCard/_index_prices_card.css';
@import './components/IndexPricesSection/_index_prices_section.css';
@import './components/IfSection/_if_section.css';
@import './components/HowItWorks/_how_it_works.css';
@import './components/ProjectCard/_project_card.css';
@import './components/RequestSection/_request_section.css';
@import './components/Footer/_footer.css';
@import './components/Services/services.css';

a {
    transition: all .2s ease-in-out;
    &:hover {
        color: var(--main-color)
    }
}

img, svg {
    max-width: 100%;
}
main {
    > div {
        width: 100%;
    }
}
body.home {
    background: url('../../public/img/bg.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 50px;
}

.main-title {
    font-size: 3.24em;
    font-weight: 600;
    line-height: 1.267;
}

.sub-title {
    font-size: 2.7em;
    font-weight: 600;
    line-height: 1.3;
}