.btn {
    height: 56px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    cursor: pointer;
    // text-transform: capitalize;
    font-weight: 500;
    transition: all .2s ease-in-out;
    padding-left: 40px;
    padding-right: 40px;
    width: fit-content;
    position: relative;
    z-index: 3;
    &.small {
        height: 45px;
    }
}

.btn-bordered {
    border: 3px solid;
    &.main-color {
        border-color: var(--main-color);
        color: var(--main-color);
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
            background-color: var(--main-color);
            color: #fff;
        }
    }
}

.btn-solid {
    color: #fff;
    &.blue {
        background-color: var(--main-color);
        &:hover {
            background-color: #657dfc;
            color: #fff;
        }
    }
    &.green {
        background-color: var(--green-color);
        &:hover {
            background-color: #3df6e5;
            color: #fff;
        }
    }
   &.pink {
    background-color: var(--pink-color);
    &:hover {
        background-color: #fe5889;
        color: #fff;
    }
   }
}